.header {
    width: 1288px;
    height: 70px;
    background-color: rgba(23,15,35,0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(50px);

    position: fixed;
    top: 0;
    z-index: 10;
}
.control_header {
    max-width: 1170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* ________________________[ header left ]_______________________________________________________ */
.header_left {
    display: flex;
    align-items: center;
    width: 870px;
}
.back_left, .back_right {
    font-size: 24px;
    margin: 7px;
    margin-top: 8px;
}

.search_button {
    display: flex;
    border-radius: 20px;
    background-color: rgb(47, 39, 57);
    align-items: center;
    width: 440px;
}
.search_icon {
    padding: 4px;
    padding-left: 7px;
    color: rgb(247, 247, 247);
    font-size: 24px;
    margin-top: 4px;
}
.input_ {
    height: 100%;
}
.input_ input {
    width: 372px;
    padding: 7px 7px;
    background-color: rgb(47, 39, 57);
    color: antiquewhite;
    border: unset;
}

.input_ input:focus {
    outline: unset;
    border: unset;
}

/* ________________________[ header right ]_______________________________________________________ */
.header_right {
    display: flex;

}

.download_link {
    background-color: rgb(43, 36, 43);
    padding: 5px 18px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.download_link:hover {
    opacity: .7;
}
.download_link span, .download_link svg {
    color: rgb(203, 119, 203);
    /* font-weight: bold; */
}

.download_link svg {
    margin-right: 7px;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    margin: auto 10px;
    background-color: rgb(43, 36, 43);
    border-radius: 50%;
    padding-top: 4px;
}

.setting_icon {
    font-size: 24px;
}





/* ________________________[ login ]_______________________________________________________ */
.header_right .profile {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.header_right .profile .login--false {

}
.header_right .profile ion-icon {
    font-size: 30px;
    margin-right: 7px;
    color: rgb(237, 237, 237);
    padding: 5px;
    border-radius: 50%;
    
}
.header_right .profile ion-icon:hover {
    background-color: rgba(255, 255, 255, 0.199);
    color: rgb(203, 119, 203);
}

.header_right .login--true {
    display: none;
}
.header_right a img {
    width: 38px;
    border-radius: 50%;
}














