#main {
    width: 1294px;
    height: 100vh;

    display: flex;
    justify-content: center;
    z-index: 0;
}

body {
    background-color: rgb(23, 15, 35);
}

#main_scroll {
    width: 1170px;
    margin-top: 70px;
}

/* #main::-webkit-scrollbar {
    width: 0px;
}
#main_scroll::-webkit-scrollbar {
    width: 0px;
} */

/* _____________________________ Chung ________________________ */
.item_quare {
    display: flex;
    flex-direction: column;
}

.div_img {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.decrip_item {
    margin-top: 18px;
    margin-bottom: 18px;
}



/* _____________________________ new_release _____________________________________ */
.new_release {
    color: white;
}

.all-item--new_release {
    display: flex;
    justify-content: space-between;
}

.item_quare-big,
.item_quare p {
    max-width: 212px;

}

.div_img-big,
.new_release .div_icon--in--img,
.new_release a img {
    width: 212px;
}

.item_quare p {
    margin: 10px 0px 0;
}

.singer-name {
    color: rgb(165, 160, 155);
    font-size: 14px;
}

.new_release p:hover,
.singer-name:hover {
    color: blueviolet;
}

.singer-name:hover {
    text-decoration: underline;
}

