* {
    transition: all 0.5s ease;
}

:root {
    --color--text--gray: rgb(134, 132, 132);
}

#main_scroll--2 {
    padding-top: 30px;
    margin-top: 70px;

    display: flex;
    overflow: hidden;
    display: none;

}

.hidden_display--main_scroll2 {
    display: flex;
}


/* ________________________________ infor_media _________________*/
.infor_media {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(234, 232, 232);
}
.infor_media .div_img {
    --size: 300px;
    width: var(--size);
    height: var(--size);

    overflow: hidden;
    position: relative;
}

.div_img ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 50px;
}

.div_img ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 50px;
}

.div_img ion-icon:nth-child(3) {
    display: none;
}

.infor_media img {
    width: 100%;
}

.infor_media img:hover {
    transform: scale(1.2);
    transition: all 0.5s ease;
    opacity: 0.5;
}

.img_infor_effect {
    transform: scale(1.2);
    transition: all 0.5s ease;
    opacity: 0.5;
}

.div_img ion-icon:nth-child(2) {
    display: none;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid rgb(213, 213, 213);
}

.div_img:hover ion-icon:nth-child(2) {
    display: block;
    transition: all 0.5s ease;
}

#main_scroll--2 .tittle_media {
    margin: 10px auto;
}
#main_scroll--2 .time_update,
#main_scroll--2 .author_list,
#main_scroll--2 .like {
    font-size: 14px;
    color: rgb(134, 132, 132);
}

.play_btn {
    margin: 20px auto;
    padding: 7px 24px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    background-color: rgb(175, 78, 223);
    color: white;
    border: unset;
}

.play_btn ion-icon {
    font-size: 20px;
    margin-right: 10px;
}

.play_btn span {
    text-transform: uppercase;
    font-size: 16px;
}

.level ion-icon {
    font-size: 20px;
    margin-right: 10px;
    padding: 7px;
    border-radius: 50%;
}

.level ion-icon:hover {
    background-color: rgba(255, 255, 255, 0.332);
}

.close_btn {
    position: relative;
}

.close_btn span {
    position: absolute;
    bottom: -40px;
    left: -40px;
    width: max-content;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: blueviolet;
    display: none;
    opacity: 0;
    transform: translateY(-80px);
}

.close_btn:hover span {
    display: block;
    opacity: 1;
    transform: translateY(0px);
}

#close_main_scroll2 {
    font-size: 30px;
    padding: 7px;
    border-radius: 50%;
    background-color: var(--color--text--gray);
    margin-top: 20px;
}
#close_main_scroll2:hover {
    background-color: blueviolet;
    transform: rotate(360deg) scale(1.1);
}


/* ________________________________ infor_media _________________*/
.list_music_item {
    width: 840px;
    height: 1000px;
    color: rgb(255, 255, 255);
    margin-left: 20px;

}

.instruction_media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: var(--color--text--gray);
    padding: 10px;
}

.instruction_media span ion-icon {
    font-size: 20px;
    margin-right: 10px;
}

.instruction_media span {
    font-size: 14px;
    
    display: flex;
    align-items: center;
}

.media_1infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 8px;
}

.media_1infor:hover {
    background-color: rgba(251, 251, 251, 0.179);
    transition: 0.2s ease;
}

.media_infor--left {
    display: flex;
    align-items: center;
    min-width: 282px;

}

.div_avt_song {
    position: relative;
    margin-left: 10px;
}

.div_avt_song ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.media_1infor:hover .play_media--effects {
    display: block;
}

.media_1infor img {
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.media_1infor:hover img {
    opacity: .6;
    transition: 0.3s ease;
}

.song_tittle {
    margin-left: 10px;
}

.song_tittle .name_song {
    font-size: 16px;
}

.media_infor--left .singer_song {
    display: block;
    font-size: 14px;
    color: var(--color--text--gray);
}


.media_infor--mid span,
.media_infor--right span {
    font-size: 14px;
    color: var(--color--text--gray);
}

.media_infor--right {
    width: 230px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
}

.media_1infor:hover .total_time,
.media_infor--right .items_for_media {
    display: none;
}


.items_for_media ion-icon{
    font-size: 18px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 50%;
}
.items_for_media ion-icon:hover {
    background-color: var(--color--text--gray);
}

.media_1infor:hover .items_for_media {
    display: block;
}