* {
    transition: all 0.2s ease-in-out !important;
}

a {
    color: rgb(208, 212, 212);
}

li {
    display: flex;
    align-items: center;
}
#navbar {
    width: 240px;
    height: 100vh;
    background-color: rgb(34, 26, 45);
    color: azure;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    font-size: 14px;
}
/* ________________________[ logo ]_______________________________________________________ */
.zing_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}
.avt_author {
    width: 40px;
    border-radius: 50%;
    border: 2px double rgb(255, 0, 255);
}

.link_home a {

}

.logo_text {
    margin-left: 10px;
}
.logo_text p {
    display: inline;
    font-weight: bold;
}
.logo_text p:nth-child(1) {
    font-size: 30px;
}
/* ________________________[ select_navbar ]_______________________________________________________ */
.select_navbar {
    position: relative;
}
.select_navbar a:hover {
    color: aliceblue;
}

.select_navbar a li{
    height: 48px;
    padding-left: 20px;
}
.select_navbar a:nth-child(1) li{
    background-color: rgb(59, 61, 61);
    border-left: 2px solid rgb(238, 0, 255);
}

.select_navbar a li span,
.item_scroll a li span,
.navbar_item a li span {
    margin-left: 10px;
    min-width: 150px;

    display: flex;
    align-items: center;
}
.select_navbar a li p {
    display: inline;
    background-color: red;
    color: white;
    padding: 3px 7px;
    margin-left: 10px;
    border-radius: 3px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 10px;
}

a li ion-icon {
    display: none;
    font-size: 22px;
}

#navbar a:hover ion-icon {
    display: flex;
    color: violet;
}

/* ________________________[ navbar_scroll ]_______________________________________________________ */
.navbar_scroll {
    margin-top: 15px;
    height: 457px;
    border-top: 1px solid #ccc;
    overflow-y: scroll;

    position: relative;
    
}

/* .select_navbar::after {
    content: "";
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: -54px;
    left: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.433) 0%, rgba(0, 238, 255, 0) 100%);
} */

.navbar_scroll::-webkit-scrollbar {
    width: 0px;
    /* color: #fb0707; */
}
.item_scroll {
    margin: 20px auto;
}
.item_scroll a:hover {
    color: white;
}
.item_scroll a li {
    height: 48px;
    padding-left: 20px;
}

.item_scroll a li span {
    padding-left: 10px;
}

.banner_vip {
    width: 200px;
    min-height: 109px;
    margin: auto;
    background-image: linear-gradient(135deg, #f600fa 0%, #00eeff 100%);
    border-radius: 7px;
    padding: 15px 8px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}
.banner_vip span, .banner_vip a {
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}
.banner_vip span {
    color: white;
    margin-bottom: 10px;
    line-height: 20px;

}
.banner_vip a {
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 0;
    padding: 5px 5px;
    background-color: yellow;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ________________________[ navbar_item ]_______________________________________________________ */
.navbar_item {
    margin: 20px auto;
    color: rgb(152, 152, 152);
}
.navbar_item li:hover {
    color: white;
    cursor: pointer;
}
.navbar_item li {
    height: 48px;
    padding-left: 20px;
}
.navbar_item li span{
    margin-left: 10px;
}

.navbar_item li:nth-child(2) ion-icon {
    color: rgb(255, 0, 255);
    display: none;
    margin-left: 35px;
    font-size: 22px;
}
.navbar_item li:nth-child(2):hover ion-icon {
    display: flex;
}


/* ________________________[ navbar_add--playlist ]_______________________________________________________ */
.navbar_add--playlist {
    height: 54px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.244);
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_add--playlist a {
    display: flex;
    align-items: center;

}
.navbar_add--playlist span {
    margin-left: 10px;
}