/*________________________________________________________________________________ [ Back to Top Button ] ____________________*/
.scrollToTopBtn {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 100px;
    right: 23px;
    z-index: 99;

    opacity: 0;
    transform: translateY(100px);
    transition: all .5s ease
}

.scrollToTopBtn:hover {
    background-color: rgba(169, 59, 179, 0.785);
}

   
.showBtn {
    opacity: 1;
    transform: translateY(0)
}
