/* _____________________________ Chung ________________________ */
.item_quare {
    display: flex;
    flex-direction: column;
}

.div_img {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.decrip_item {
    margin-top: 18px;
    margin-bottom: 18px;
}