
ul.item-bxh {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.item-bxh ion-icon {
    /* display: none; */
    padding: 8px;
    border-radius: 50%;
    background: white;
    color: black;
    cursor: pointer;

    position: absolute;
    bottom: 41%;
    z-index: 3;
}

.item-bxh ion-icon:nth-child(1) {
    left: -18px;
}
.item-bxh ion-icon:nth-child(2) {
    right: -18px;
}


li.one-item-bxh_new {
    width: 372px;
    height: 150px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(121, 122, 123, 0.178);
}

/* ___________ Left __________________________ */

.item-bxh .left {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;

    position: relative;
}

.img-bxh-new {
    width: 120px;
    z-index: 2;
}

li.one-item-bxh_new:hover .img-bxh-new{
    transition: .6s ease;
    transform: scale(1.1);
}

.item-bxh .left ion-icon {
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    background-color: unset;
    color: white;
}
li.one-item-bxh_new:hover .left ion-icon {
    display: flex;
}

/* ___________ Right __________________________ */
.one-item-bxh_new .right {
    margin-left: 10px;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right .title-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

span.name-song_bxh {
    font-size: 20px;
}

span.name-singer_bxh {
    color: rgba(240, 248, 255, 0.468);
}
span.name-singer_bxh:hover {
    color: rgb(255, 0, 255);
    text-decoration: underline;
}

.right div {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

span.top_bxh {
    font-size: 40px;
    font-weight: bold;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(240, 248, 255, 0.468);
    color: rgba(121, 122, 123, 0.178) !important;
}


div .release-date {
    margin-bottom: 5px;
    color: rgba(240, 248, 255, 0.468);

}

