#all_item-top100 {
    display: flex;
    justify-content: space-between;
}

.top100 a img {
    width: 212px;
}

.top100 .decrip_item {
    color: white;
}


/* _______________________________ ALbumhot ______________ */

#all_item-albumHot {
    display: flex;
    justify-content: space-between;

}

.album-hot a img {
    width: 212px;
}
p.album-hot_name {
    color: white;
}