#zing_chart {
    margin: 40px 0;
    padding: 30px 20px;
    width: 100%;
    background-color: rgba(106, 53, 121, 0.242);
    border-radius: 10px;
}

.tittle_zingchart {
    display: flex;
    align-items: center;
}

.tittle_zingchart span {
    font-size: 30px;
    color: #fcfcfc;
    font-weight: bold;
    font-family: 'Inter', sans-serif;

    background: -webkit-linear-gradient(45deg, #ea6421, #b001f0, #01b4f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.all_item-zing_chart {
    display: flex;
    justify-content: space-between;
}

.left-zchart {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one_item--zc {
    width: 456px;
    background-color: rgba(78, 82, 82, 0.401);
}

.one_item--zc:hover {
    width: 456px;
    background-color: rgba(122, 126, 126, 0.401);
}

.one_item--zc:nth-child(2),
.one_item--zc:nth-child(3) {
    margin-top: 10px;
}

.one_item--zc .top_number {
    font-size: 50px;
    font-weight: bold;
    padding: 0px 10px;
    margin-right: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 214, 247);
    color: unset;
}
.left-zchart div:nth-child(2) .top_number {
    -webkit-text-stroke-color: rgb(247, 0, 107);

}
.left-zchart div:nth-child(3) .top_number {
    -webkit-text-stroke-color: rgb(41, 247, 0);

}

.one_item--zc .persen{
    color: aliceblue;
    font-weight: bold;
    margin-left: 50px;
}

.one_item--zc img {
    border-radius: 8px;
}

.tittle_zingchart ion-icon {
    font-size: 30px;
    color: #fcfcfc;
    margin-left: 20px;
}

.left-zchart a.xem-them {
    margin-top: 20px;
    padding: 7px 16px;
    border-radius: 20px;
    border: 1px solid white;
}
.left-zchart a.xem-them:hover {
    background-color: rgba(68, 68, 66, 0.723);
}

.right-zchart img {
    width: 649px;
    border-radius: 10px;
    box-shadow: rgba(183, 10, 180, 0.49) 0px 1px 2px, rgba(0, 233, 246, 0.567) 0px 2px 4px, rgba(189, 16, 128, 0.558) 0px 4px 8px, rgba(193, 49, 17, 0.448) 0px 8px 16px, rgba(50, 27, 201, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.zing_chart span.name_song {
    margin-top: 7px;
}
/* _____________________________________________ zing chart week ____________________________________________ */
.zing_chart {
    padding: 10px 0;
}
.zing-chart-week {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.img-div {
    width: 370px;
    overflow: hidden;
    border-radius: 7px;
}

.img-div img {
    width: 373px;
    height: 100%;
    border-radius: 7px;
    cursor: pointer;
}

.img-div img:hover {
    transition: 1s ease;
    transform: scale(1.1);
}